.navbar-item {
    list-style: none;
    margin-left: 18px;
}

.title {
    color: var(--unactive-text-color);
    &.active {
        color: #fff;
        cursor: default;
        pointer-events: none;
        font-weight: 600;
    }
    &:hover {
        color: #b3b3b3;
    }
}
