.wrapper {
    position: absolute;
    display: flex;
    bottom: 35%;
    left: 60px;
    flex-direction: column;
    width: 36%;
}
.title {
    font-size: 8rem;
    font-weight: 700;
}

.decs {
    margin-top: 22px;
    font-size: 2.2rem;
    font-weight: 400;
    width: 100%;
}
.actions {
    display: flex;
    margin-top: 28px;
}
