.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px 34px 12px 28px;
    margin-bottom: 14px;
    margin-right: 14px;
    border-radius: 4px;
}
.title {
    font-size: 2.2rem;
    font-weight: 700;
}
.icon {
    display: inline-flex;
    align-items: center;
    padding-right: 14px;
}
//  Button types
.normal {
    background-color: #fff;
    color: var(--black);
    &:hover {
        background-color: rgba(255, 255, 255, 0.75);
    }
}
.opacity {
    background-color: rgba(109, 109, 110, 0.7);
    color: var(--text-color);
    &:hover {
        background-color: rgba(109, 109, 110, 0.4);
    }
}
.iconOnly {
    &:focus {
        &::before {
            position: absolute;
            box-sizing: content-box;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            border: 2px solid white;
            border-radius: 50%;
            padding: 2px;
            left: -4px;
            top: -4px;
        }
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.7);
    }
    position: relative;
    bottom: 36%;
    background-color: transparent;
    color: var(--text-color);
    padding: 12px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 999px;
    .icon {
        padding: 0;
    }
}
