.menu-list {
    z-index: 999;
    top: 54px;
}
// Menu item
.menu-item {
    &:first-child {
        padding-top: 15px;
    }
    &::before {
        border: 6px solid transparent;
        position: absolute;
        content: '';
        top: -12px;
        right: 28px;
        border-bottom-color: #e5e5e5;
        color: #fff;
    }
    width: 220px;
    color: var(--text-color);
    line-height: 1;
    padding: 5px 10px;
    font-size: 1.3rem;
    &.separate {
        display: flex;
        justify-content: center;
        border-top: 1px solid hsla(0, 0%, 100%, 0.25);
        padding: 15px 10px;
    }
    &:hover {
        text-decoration: underline;
    }
    &:nth-child(4) {
        padding-bottom: 10px;
    }
    &:nth-child(8) {
        padding-bottom: 15px;
    }
}
.menu-link {
    display: flex;
    align-items: center;
}
.avatar {
    border-radius: 4px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    width: 32px;
}
.icon {
    padding: 0 13px 0 5px;
}
