.background-image {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-position: center center;
    background-size: contain;
    animation: fadein ease 1s;
}

.video-container {
    position: relative;
    top: -60px;
    left: -100%;
    width: 300%;
    height: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    animation: fadein ease 2s;
    opacity: 0;
    animation-delay: 0.5s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}
iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.video-container::-webkit-scrollbar {
    display: none;
}

.embed-youtube {
    overflow: hidden;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(2%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
